<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><html>
<head>
    <style>

        div{
            padding-top:20px;
        }

        i{
            color:red;

        }

        #id1{
            padding-top: 130px;
            font-size: x-large;
            font-style: italic;
        }

    </style>

</head>

<body bgcolor="#f0fff0">
<div align="center">
    <h1 class ="h1">Welcome To <i>Django</i>World</h1>
    <h2><a href="./reg">Click Here To Register</a></h2>
    <h2><a href="./login">Click Hete To Login</a></h2>
</div>

<pre id = "id1" style="float: right;">
    <b>By</b>
    Divyavani,
    +91 8297653778
    divyavanibairu@gmail.com
    Logictalk technologies,
    BK guda,
    Hyderabad.
</pre>
</body>
</html>