<!DOCTYPE html>


</html><html xmlns="http://www.w3.org/1999/html">
<head>

    <title>Welcome To Registration</title>


    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <style>

        body{
            background-color: honeydew;
        }
        b{
            font-size: 25px;
        }

        form{
            background-color: paleturquoise;
            border: 5px solid red;
            border-radius: 10px;
            padding: 10px 10px;
        }

        #h1tag{
            color: red;
        }

    </style>

</head>

<body>

<h1 class ="text-center" id ="h1tag">Welcome To Django Website</h1>
<div class="container">
    <h4>Please Register Your Details Here</h4>
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                {{ form }} <br>

                <div class="text-center">
                    <input type="submit"
                           value="Submit"
                           class="btn btn-default btn-md">

                    <input type="reset"
                           value="Reset"
                           class="btn btn-default btn-md">
                </div>
            </form>
        </div>

        <div class="col-sm-8">
           <h4 align="center"><a href="./">Goto Home Page</a></h4>
           <h4 align="center"><a href="./login">Goto Login Page</a></h4>
       </div>
    </div>
</div>
</form>
</body>
</html>


